<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests"  name="Suite">

<listeners>
<listener class-name="Templates.TestComponents.Listeners"/>
</listeners>

  <test thread-count="5" parallel="classes" name="SubmitOrderTest">
    <classes>
      <class name="Templates.Tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="ErrorValidation">
    <classes>
   <class name="Templates.Tests.ErrorValidation"/>     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
